body {
  margin: 0;
  padding: 0;
  /* Ocupar el 100% de la altura de la pantalla */
  height: 100vh;
  width: 100vw;
  /* Centrar contenido */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Fondo y overflow */
  background-color: #2d2d2d;
  overflow: hidden;
}

/* Contenedor del juego */
#app {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}